.contain{
  max-width:calc(1290px + 32px);
  padding-inline: 16px;
  margin-inline: auto;
}

/* section{
  border: 1px solid green
} */

.banner-background-image{
  background-image: none;
  @media(min-width: 1024px){
    background-image: url('/images/BannerImage.png');
  }
}
.main-section-background-image{
  background-image: url('/images/main-feature-mobile.jpg');
  @media(min-width: 1024px){
    background-image: url('/images/main-feature-bg.jpg');
    background-size: calc(100% - 32px) 100%;
  }
}

.black-overlay{
  position: relative;
}
.black-overlay::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: rgba(0,0,0,0.25);
  @media (min-width:1024px) {
    background-color: transparent;
  }
}